h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

h2 {
    color: rgb(255, 143, 240);
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

h3 {
    color: rgb(112, 179, 255);
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

p {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: rgb(90, 161, 255);
}

a {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 162, 255);
    font-size: 15px;
}

hr {
    width:100%; height:1%; background: rgb(90, 162, 255)
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

img {
  border-radius: 15%;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Ariel;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width:33%;
  font-family: "Sansita Swashed", system-ui;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#AboutMe {background-color: white;}
#VideoGames {background-color: white;}
#Youtubers {background-color: white;}

